@import 'tailwindcss';

@theme {
  /** Gray */
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-gray-500-10: #6b72801a; /* 10% opacity */
  --color-gray-600: #4b5563;
  --color-gray-700: #374151;
  --color-gray-800: #2d3748;
  --color-gray-900: #1f2937;
  /** Teal */
  --color-teal-50: #f3fefd;
  --color-teal-100: #dbfaf6;
  --color-teal-200: #b3f1e7;
  --color-teal-300: #86e3d7;
  --color-teal-400: #4fd2c1;
  --color-teal-500: #2cb1a3;
  --color-teal-500-10: #2cb1a31a; /* 10% opacity */
  --color-teal-600: #1f8a7c;
  --color-teal-700: #187064;
  --color-teal-800: #145850;
  --color-teal-900: #11443f;
  /** Special */
  --color-sh: #2a8461;
  --color-gh: #004a9d;
  --color-ih: #3333cc;
  --color-bmc: #009ca6;
}

@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff')
    format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
    format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@utility text-display {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 3rem; /* 48px */
  line-height: 3.5rem; /* 56px */
  letter-spacing: -0.03em;
}
@utility text-headline {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 2.5rem; /* 40px */
  line-height: 3rem; /* 48px */
  letter-spacing: -0.03em;
}
@utility text-section-bold {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: -0.03em;
}
@utility text-section {
  font-family: 'Pretendard-Medium', sans-serif;
  font-size: 2rem; /* 32px */
  line-height: 2.5rem; /* 40px */
  letter-spacing: -0.03em;
}
@utility text-title-bold {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: -0.03em;
}
@utility text-title {
  font-family: 'Pretendard-Medium', sans-serif;
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  letter-spacing: -0.03em;
}
@utility text-subtitle-bold {
  font-family: 'Pretendard-Bold', sans-serif;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: -0.03em;
}
@utility text-subtitle {
  font-family: 'Pretendard-Medium', sans-serif;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  letter-spacing: -0.03em;
}
@utility text-body-bold {
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: -0.03em;
}
@utility text-body {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: -0.03em;
}
@utility text-label-bold {
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: -0.03em;
}
@utility text-label {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  letter-spacing: -0.03em;
}
@utility text-caption-bold {
  font-family: 'Pretendard-SemiBold', sans-serif;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: -0.03em;
}
@utility text-caption {
  font-family: 'Pretendard-Regular', sans-serif;
  font-size: 0.75rem; /* 12px */
  line-height: 1rem; /* 16px */
  letter-spacing: -0.03em;
}

#app {
  @apply bg-gray-50 text-gray-900;
}

.no-scroll {
  overflow: hidden;
  touch-action: none;
}
